@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&family=Playfair+Display+SC:wght@700&display=swap');

    :root {
        font-family: 'Open Sans', sans-serif;
        --main-color: black;
        --accent-color: #0d3c00;
        --titles-color: #79a207;
        --paragraph-color: #707070;
        --bg-color: whitesmoke;
        --second-bg-color: white;
    }

    h1, h2, h3, h4, h5, p, nav {
        font-family:'Cormorant Infant', serif;
        margin: 0;
        padding: 0;
    }

    h1 {
        margin-top: 20px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 60px;
        color: var(--accent-color);
        font-family: 'Libre Baskerville', serif;
        animation: pulse; 
        animation-duration: 2s;
    }

    h3 {
        font-size: 20px;
        color: var(--titles-color);
        margin: 0;
        padding: 0;
    }

    h4 {
        font-size: 42px;
        color: var(--accent-color);
        margin-top: 20px;
        font-weight: bold;
    }

    h5 {
        font-size: 24px;
        color: var(--accent-color);
    }

    p {
        font-size: 20px;
        margin-top: 30px;
    }

    .green-button {
        background-color: var(--titles-color);
        color: white;
        margin: 0 15px 0 0;
        border-color: transparent;
        border-radius: 28px;
        text-align: center;
        transition: all 0.7s;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 11px;
        font-weight: 700;
        height: 55px;
        letter-spacing: .01em;
        width: 183.062px;
        animation: pulse; 
        animation-duration: 2s;
    }
    .green-button:hover { 
        border: 3px solid var(--accent-color);
    }

    .green-button:focus {
        outline: none;
}

    .transparent-button {
        background-color: transparent;
        border: 1px solid black;
        padding: 0.35em 1.2em;
        margin: 0 0.3em 0.3em 0;
        border-radius: 28px;
        text-align: center;
        transition: all 0.7s;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 11px;
        font-weight: 700;
        height: 55px;
        letter-spacing: .01em;
        width: 183.062px;
        animation: pulse; 
        animation-duration: 2s;
    }

    .transparent-button:hover { 
        border: 3px solid var(--accent-color);
    }

    .transparent-button:focus {
        outline: none;
    }
  
    body {
        max-width: 1100px;
        margin: auto;
    }

    header .bg-light{
        padding: 0 0 0 0;
        background-color: var(--second-bg-color) !important;
    }

    header .navbar-brand {
        font-family: 'Libre Baskerville', serif;
        font-size: 3.5rem;
        margin: 5px;
        text-transform: uppercase;
    }

     .nav-item {
        color: var(--main-color);
        text-transform: uppercase;
        padding-right: 25px;
    }

    .nav-item a {
        border: 3px solid transparent;
    }

    .navbar-light .navbar-nav .nav-link {
        color: black;
        
    }
    .nav-item a:hover { 
        border-color: var(--accent-color);
    }

    /* @media (max-width: 769px) {

        .burger-icon {
            display: none;
        }

        header nav {
            display: flex;
        }

        header nav .menu-items { 
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex: 1;
        }
    } */

    .main-page {
        background:  url(../img/bg/main-bg.png) center no-repeat;
        padding: 110px 0 200px 0;
        background-color: var(--second-bg-color);
    }
    .main-text {
        text-align: center;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 521px) {
        h1 {
            font-size: 55px;
        }
    }

    @media (max-width: 471px) {
        h1 {
            font-size: 45px;
        }
    }

    @media (max-width: 398px) {
        h1 {
            font-size: 35px;
        }
    }

    .about-us {
        display: flex;
        padding-bottom: 65px;
        padding-top: 5px;
        background-color: var(--bg-color);
    }

    .about-us h3 {
        margin-top: 70px;
    }

    .about-us .about-us-text {
    flex-direction: column;
        text-align: center;  
        padding: 0 40px 0 40px;
    }

    .about-us .about-us-text > p {
        color: var(--paragraph-color);
        margin-top: 30px;
    }

    .about-us img {
    max-width: 600px;
    max-height: 500px;
    padding: 0 0 0 0;
    margin-top: 90px;
    border-top: 3px solid #0d3c00;
    border-bottom: 3px solid #0d3c00;
    }

    .about-us .green-button {
        margin-top: 30px;
    }

    @media (max-width: 838px) {
        .about-us img {
           display:none;
        }
    } 

    .services {
        display: flex;
        padding-top: 65px;
        background-color: whitesmoke;
    }

    .services .card {
         background-color:white; 
        align-items: center;
        text-align: center;
        border-top: 4px solid var(--titles-color);
        border-bottom: 4px solid var(--titles-color);
        border-radius: 5px 5px 5px 5px;
        text-align: center;
        background-color: white;
        height: 600px;
        margin-bottom: 40px;
    }

    .services .card .transparent-button {
        border-color: var(--titles-color);
        margin-top: 30px;
    }

    .service-round {
        display: flex;
        margin-top: 15px;
        align-items: center;
        justify-content: center;
        width: 125px;
        height: 125px;
        background-color: rgba(121, 162, 7, 0.23);;
        border-radius: 100%;
    }

     .services .service-round .card-img-top{
        width: 85px;
        height: 85px;
    } 

    .services h5 {
        font-size: 27px;
        text-transform: uppercase;
        color: var(--titles-color);
    }



    .phone-number {
        background-color: var(--accent-color);
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white
    }

    .phone-number .want-to-know {
        text-align: center;
        font-size: 74px;
        font-weight: bold;
    }

    .phone-number .phone{
        font-size: 36px;
        color: wheat;
    }

    .products{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 65px;
        padding-bottom: 65px;
    }
    
    .products-cards{
        display: flex!important;
        margin-top: 20px;
        
    }
    
    .product{
        width: 300px;
        height: 450px;
        margin: 10px;
    }
    
    .products-cards i {
        font-size: 40px;
        margin-top: 15%;
    } 
    
    .product-description{
        margin: 5px;
    }
    
    .product img {
        width: 100%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    
    .gree {
        display: flex;
        background-color: whitesmoke;
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .gree img {
        max-width: 625px;
        max-height: 500px;
        margin-top: 50px;
    }

    .gree .gree-content {
        flex-direction: column;
        text-align: center;
        padding-right: 20px;
    }

    .gree .gree-content > p {
        color: var(--paragraph-color);
        margin-top: 30px;
    }

    .gree-reasons summary {
        font-weight: bold;
        margin-top: 25px;
        font-size: 20px;
        color: var(--accent-color);
    }

    .gree .green-button {
        margin-top: 30px;
    }

    .gree-video {
        padding: 0 0 65px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: whitesmoke;
    }

    @media (max-width: 1000px) {
        .gree-content p {
           display:none;
        }
    } 

    @media (max-width: 821px) {
        .gree img {
           display:none;
        }
        .gree {
            justify-content: center;
        }
    }

    @media (max-width: 579px) {
        .gree-video iframe{
            width: 300px;
            height: 175px;
        }
    } 

.numbers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--accent-color);
    width: 100%;
}

.box-decoration {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 2px;
    width: 50px;
    background-color:white;
}

.numbers-container h3 {
    padding-top: 60px;
    font-weight: bold;
    font-size: 74px;
    color: white;
}

.numbers p {
    color: wheat;
    font-size: 20px;
    padding-bottom: 60px;
}

@media (max-width: 884px) {
    .numbers {
        display: none;
   } 
}
    .our-company {
        display: flex;
        background-color: whitesmoke;
        padding-top: 75px;    
    }

    .our-company h3 {
        margin-top: 60px;
    }

    .our-company h5 {
       font-size: 30px;
    }

    .our-company .our-company-content {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        flex-direction: column;
        width: 50%;
    }
    .our-company .service-round {
        margin-top: 60px;
        justify-content: center;
        margin-left: 150px;
         width: 80px;
        height: 80px;
    }

    .our-company .service-round img{
        width: 53px;
        height: 55px;
    } 

    .our-company .bg-img img {
        width: 100%;
    }

    @media (max-width: 1100px) {
         .our-company {
             display: none;
        } 
    }
        
    .blog{
        display: flex;
        background-color: white;
        padding-bottom: 65px;
         padding-top: 65px;
         flex-direction: column;
        text-align: center; 
    }
    
    .blog .carousel {
       display: flex;
       flex-direction: column;
    }

    .blog .card-group {
        display: flex; 
        justify-content: center;
    }

    .blog .carousel p {
        color: var(--accent-color);
    }

    .blog .carousel a {
        color: whitesmoke;
    }

    .blog .carousel h5 {
        color: var(--accent-color);
        font-weight: 500px;
        font-size: 40px;
    }

    .blog .carousel img {
        width: 100%;
    }

    .blog .transparent-button {
        margin-top: 20px;
    }

    @media (max-width: 1015px) {
        .blog .carousel h5 {
            background-color: whitesmoke;
            font-size: 30px;
        }
        .blog .carousel p {
            font-size: 30px;
        }
    }

    @media (max-width: 749px) {
        .blog .carousel h5 {
            background-color: whitesmoke;
            font-size: 30px;
        }
        .blog .carousel p {
            font-size: 20px;
        }
    }

    @media (max-width: 484px) {
        .blog .carousel h5 {
            background-color: whitesmoke;
            font-size: 20px;
        }
        .blog .carousel p {
            display: none;
        }
    }
    
    .contacts {
        display: flex;
        background-color:#f8f8f6;;
        padding: 45px 50px 0 0;
    }

    .contacts .adress{
        flex-direction: column;
        text-align: center;
    }

    .contacts .adress > p {
        margin-top: 70px;
        font-size: 32px;
        color: var(--titles-color);
    }

    .contacts .adress span {
        color: var(--paragraph-color);
        font-size: 26px;
    }

   .adress img {
       display: flex;
       
   }

    .contacts .contact-form {
        border-top: 4px solid var(--titles-color);
        border-bottom: 4px solid var(--titles-color);
        border-radius: 5px 5px 5px 5px;
        text-align: center;
        background-color: white;
        height: 585px;
        margin-top: 80px;
       
    }

    .contacts .contact-form h4 {
        margin-top: 40px;
    }

    .contacts .contact-form p {
        color: var(--paragraph-color);
        margin-top: 30px;
    }

    .contacts .contact-form form {
        flex-direction: column;
        
    }

    .contact-form .green-button {
        margin-top: 30px;
    }

    .contact-form label > input {
        margin-top: 20px;
        width: 390px;
        height: 43px;
        border-radius: 21px;
        background-color: whitesmoke;
    }

    
    @media (max-width: 795px) {
        .contacts {
            display: flex;
            flex-direction: column;
       } 
    }

    @media (max-width: 461px) {
        .contact-form label > input  {
            width: 100%;
       } 
       .contacts .contact-form {
           height: auto;
       }
    }

    .promotion {
        padding:120px 0 90px 0;
        position:relative;
        font-family:'Cormorant Infant', serif;
        background-color: #f8f8f6;
        z-index: -2;
    }

    .promotion .container {
        display:flex;
        flex-direction: column;  
    }

    .promotion .bgc_y {
        position:absolute;
        height: 800px;
        background: url(../img/flowers.png) center no-repeat;
        width:100%;
        z-index:-1;
        top:-75px;
        left:0
    }

    .promotion__text {
        align-items: center;
        text-align: center;
        padding-top: 130px;
        font-size: 24px;
        color: var(--accent-color);
        padding-left: 5px;
    }
        
        .promotion__descr {
            margin-top:20px;
            font-size:24px;
            line-height:24px;
            
        }

        .promotion__descr span {
            font-weight:700;
            font-size:40px;
            color: var(--titles-color);
        }

        .promotion__timer {
            width: 65%;
            margin-left: 180px;
            
        }
        .promotion__timer .title {
            text-align: center;
            margin-top: 30px;
            font-size: 24px;
            color:var(--titles-color);
        }

        .promotion__timer .timer {
            padding-top: 40px;
            display:flex;
            justify-content:space-between;
            align-items:center
        }

        .promotion__timer .timer__block {
            width:102px;
            height:120px;
            background:whitesmoke;
            box-shadow: 30px 0px 10px rgba(0,0,0,.25);
            font-size: 24px;
            font-weight:300;
            text-align:center
        }
        
    .promotion__timer .timer__block span {
        display:block;
        margin-top:20px;
         margin-bottom:5px;
        font-size:56px;
         font-weight:700
                }
                
    @media (max-width: 500px){
        .promotion__timer .timer{
            display: none;
        }

        .promotion__timer .title{
            display: none;
        }

    }
        

    footer nav {
        padding-top: 20px;
        background-color: var(--accent-color);
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    footer .menu-items {
        color: whitesmoke;
        font-size: 16px;
        display: flex;
    }

    footer .menu-items a {
        color: whitesmoke;
        text-transform: uppercase;
        border: 3px solid var(--accent-color);
        padding: 3px;
    }

    footer nav .menu-items a:hover { 
        border-color:whitesmoke;
    }

    footer .social {
        padding-top: 5px;
    }

    .social img{
        width: 50px;
        height: 50px;
    } 

    footer nav .coppy_right p {
        color: whitesmoke;
    }

    @media (max-width: 640px){
            footer .menu-items {
                flex-wrap: wrap;
                font-size: 12px;
            }
    }

    .modal p {
        text-align: center;
    }
    .modal form {
    text-align: center;
    }

    .modal .btn-primary {
    background-color: var(--titles-color);
    }

  .back_to_top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border-radius: 2px;
    display: none;
  }
  
  .back_to_top:hover {
    background: #e9ebec;
  }
  
  .back_to_top-show {
    display: block;
  }
  

    
                
                

